{% extends 'base/base.html' %}
{% load accounts_tags %}

{% block content %}
<div class="container"
     style="min-height: 50vh;">
    <div class="row pt-5">
    {% include 'include/messages.html' with messages=messages %}
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 text-center">
        Hello Django
    </div>
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 text-center fs-4">
        {% if request.user|has_group:"accounts_employee" %}You are "Employee".{% endif %}
    </div>
    <p class="text-center my-3">
        <a href="{% url 'accounts:logout' %}"
            class="btn btn-dark">
            登出</a>
    </p>
    </div>
</div>
{% endblock %}
